<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_pool_checklist_url" model="ir.actions.act_url">
        <field name="name">Fiche de visite chantier</field>
        <field name="url">/visite-chantier</field>
        <field name="target">new</field>
    </record>

    <menuitem
        id="menu_pool_checklist_root"
        name="Fiche de visite chantier"
        parent="website.menu_website_configuration"
        action="action_pool_checklist_url"
        sequence="50"
    />

</odoo>
