<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_pool_checklist_url" model="ir.actions.act_url">
        <field name="name">Nouvelle fiche de visite</field>
        <field name="url">/visite-chantier</field>
        <field name="target">new</field>
    </record>

    <menuitem id="menu_pool_checklist_root"
        name="Fiche chantier"
        sequence="98"
        web_icon="lolirine_pool_checklist,static/description/icon.png"/>

    <menuitem id="menu_pool_checklist_new"
        name="Nouvelle fiche de visite"
        parent="menu_pool_checklist_root"
        action="action_pool_checklist_url"
        sequence="10"/>

    <menuitem id="menu_pool_checklist_history"
        name="Historique des fiches"
        parent="menu_pool_checklist_root"
        action="action_pool_checklist_report"
        sequence="20"/>
</odoo>
