<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Action URL vers la page web -->
    <record id="action_pool_checklist_url" model="ir.actions.act_url">
        <field name="name">Nouvelle fiche de visite</field>
        <field name="url">/visite-chantier</field>
        <field name="target">new</field>
    </record>

    <!-- Menu racine (icône dans la barre principale) -->
    <menuitem
        id="menu_pool_checklist_root"
        name="Fiche chantier"
        sequence="98"
        web_icon="lolirine_pool_checklist,static/description/icon.png"
    />

    <!-- Sous-menu Nouvelle fiche -->
    <menuitem
        id="menu_pool_checklist_new"
        name="🏊 Nouvelle fiche de visite"
        parent="menu_pool_checklist_root"
        action="action_pool_checklist_url"
        sequence="10"
    />

    <!-- Sous-menu Historique -->
    <menuitem
        id="menu_pool_checklist_history"
        name="📋 Historique des fiches"
        parent="menu_pool_checklist_root"
        action="action_pool_checklist_report"
        sequence="20"
    />

    <!-- Raccourci dans Site Web -->
    <menuitem
        id="menu_pool_checklist_website"
        name="🏊 Fiche de visite chantier"
        parent="website.menu_website_configuration"
        action="action_pool_checklist_url"
        sequence="50"
    />
</odoo>
